header{
    background-color: rgb(102, 65, 65);
    text-align: center;
    padding:20px;
}

.notes{
    background-color: silver;
}

.input{
    background-color: tan;
}


footer{
    background-color: rgb(236, 161, 148);
    text-align: center;
    padding: 10px;
}
